streamlit==1.35.0
langchain==0.2.5
langchain-core==0.2.10
langchain-openai==0.1.8
langgraph==0.1.1
pinecone-client==4.1.1
langchain-pinecone==0.3.0
python-dotenv==1.0.1
typing-extensions==4.12.2
openai==1.30.1